body {
	background-color: #f5f5f5;;
}

.leftWrap {
    text-align: center;
    width: 11%;
    height: 100%;
    position: fixed;
    top: 180px;
}

.rightWrap {
    width: 88%;
    height: 100%;
    margin-left: 273px;
    margin-top: 0px;
    background-color: #f5f5f5;
    padding: 20px;
    float: right;
}
.partyBox, .noticeWrap, .commentWrap {
    margin-top: 52px;
    width: 69%;
    margin-left: 209px;
    background-color: white;
    padding-left: 22px;
    padding-top: 27px
	
}
.rightWrap h3, .noticeWrap h2 {
	margin-bottom: 1rem;	
}

.partyInfos {
	width: 70%;
	padding: 17px;
}

.partyInfos p{
	margin-bottom: 0.5rem;
}

.noticeBox, .commentBox {
	width: 75%;
}

.textareaNotice {
    resize: none;
    padding: 0px;
    margin: 0px;
    max-height: 100px;
    width: 75%;
    border: none;
}
.textareaComment {
	resize: none;
	border: none;
	margin: -3px;
	width: 70%; 
 }

.inputNotice, .inputComment {
	width: 75%;
    margin-top: 15px;
}

.fixed {
	margin-bottom: 0.5rem;
}

.noticeWrap {
	margin-top: 30px;
	margin-bottom: 30px;	
}