body {
    background-color: #ddebd7a8;
}

.leftWrap {
    text-align: center;
    width: 17%;
    height: 100%;
    position: fixed;
    top: 180px;
}

.rightWrap {
    width: 83%;
    margin-top: 0px;
    background-color: #ddebd7a8;
    padding: 20px;
    float: right;
    max-height: max-content;
}

.partyBox, .noticeWrap, .commentWrap {
    width: 69%;
    background-color: white;
    padding: 36px;
    margin-left: 211px;
    padding-left: 70px;
    margin-bottom: 70px;
    border-radius: 15px;
    margin-top: 55px;
} 
.partyName {
	color: green;
}

.partyNameBox p{
	font-size : 20px;
}

.partyIcon {
	width:100px;
	height:100px;
	background-color:gray;
	display: inline-block;
}
#piMember {
	cursor: pointer;
}
#likeBox {
	display: inline-block;
}
#likeBtn {
	width: 50px;
	height: 50px;
	position: relative;
	float: left;
	cursor: pointer;
}
.partyMemberBox {
	margin-top: 22px;	
}

.rightWrap h3, .noticeWrap h2 {
	margin-bottom: 1rem;	
}
.img {
	vertical-align: middle;
    border: 0;
    max-width: 100%;
    height: auto;
    margin: 10px;
    z-index: 6;
    margin-left: -40px;
    margin-top: -2px;
}
.partyInfos {
	width: 75%;
    padding: 25px;
    margin-left: -28px;
}

.partyInfos p{
	font-size: 20px;
	line-height: 2rem;
	margin-bottom: 0.5rem;
}

.noticeBox, .commentBox {
    margin-top: 49px;
    width: 80%;
    margin-left: 18px;
}


.title {
	background-color: #bbe3c9e0;
    border-radius: 10px;
    width: 20%;
    text-align: center;
    padding: 2px;
    box-shadow: 3px 3px 0px 0px #c1c4c1e0;
}
.title h3 {
    color: #646266;
    font-size: 18px;
    padding: 4px;
    margin-top: 18px;
} 

.textareaNotice {
    resize: none;
    padding: 0px;
    margin: 0px;
    max-height: 100px;
    width: 75%;
    border: none;
}
.textareaComment {
    resize: none;
    border: none;
    margin: -11px;
    width: 70%;
 }

.inputComment {
	width: 75%;
    margin-top: 15px;
}
.inputNotice{
	width: 75%;
    margin-top: 15px;
    display: none;
}
hr {
	background-color : #646266;
	width: 80%;
	height: 20px;
}

.fixed {
	margin-bottom: 0.5rem;
}

.noticeWrap {
	margin-top: 30px;
	margin-bottom: 30px;	
}

.commentList .fixed, .noticeList .fixed {
	margin-bottom: 0.5rem;
    margin-top: -1.5rem;
}