.searchBox {
	width: 82%;
    padding: 4%;
    margin: 0% 0 -2% 12%;
}

.selectBoxOption {
	border-color: #646266;
	width: 20%;
	text-align: center;
	height:88%;
}

.detail {
	margin: 1% 0 0 0;
}

.recommendationWrap {
    width: 68%;
    height: 350px;
    margin: 5% 0 0 17%;
}

.recommendedParty {
	width: 24%;
    cursor: pointer;
    text-align: center;
    margin: 2% 10% 0% -4%;
    border: 1px solid #646266;
}

.recommendations {
	text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 120%;
    margin: 0 0 0 5%;
}

.partyIcon {
    width: 20%;
    height: 16%;
    display: block;
    margin: auto;
}
.flex_container{
	text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 2% 0 0 12%;
}

.flex_item {
	float: left;
    width: 23%;
    cursor: pointer;
    text-align: center;
    margin: 0% 1% 2% 1%;
    border: 1px solid #646266;
}