<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yummyclimbing.mapper.party.PartyMemberMapper">

	<!-- 소소모임 정원 확인 -->
	<select id="selectMemberCount" resultType="com.yummyclimbing.vo.party.PartyMemberVO">
		SELECT COUNT(PM.UI_NUM) MEM_NUM, PI_MEMBER_CNT
		FROM PARTY_MEMBER PM
		INNER JOIN PARTY_INFO PI ON PM.PI_NUM = PI.PI_NUM
		AND PM.PI_NUM = #{piNum} AND PM_ACTIVE = 1
	</select>

	<!-- 소소모임 부원 가입 -->
	<insert id="insertPartyMember">
		INSERT INTO PARTY_MEMBER(
		PI_NUM, UI_NUM, PM_GRADE
		) VALUES(
		#{piNum}, #{uiNum}, #{pmGrade})
	</insert>
	
	<!-- 탈퇴한 부원 소소모임 재가입 -->
	<update id="rejoinParty">
		UPDATE PARTY_MEMBER
		SET PM_ACTIVE = 1
		WHERE UI_NUM = #{uiNum} AND PI_NUM=#{piNum}		
	</update>
	
	<!-- 소소모임 부원 탈퇴 -->
	<update id="quitPartyMember">
		UPDATE PARTY_MEMBER
		SET PM_ACTIVE = 0
		WHERE UI_NUM = #{uiNum} AND PI_NUM=#{piNum}
	</update>
	
	<!-- 소소모임 권한(대장/부원) 확인 -->
	<select id="selectMemberAuth" resultType="com.yummyclimbing.vo.party.PartyMemberVO">
		SELECT PM_GRADE, PM_ACTIVE
		FROM PARTY_MEMBER
		WHERE UI_NUM = #{uiNum} AND PI_NUM = #{piNum}
	</select>
	
</mapper>