<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yummyclimbing.mapper.party.PartyInfoMapper">

	<sql id="partyInfoCols">
		PI_NAME, PI_MEETING_TIME, PI_MEMBER_CNT, PI_CREDAT,
		PI_EXPDAT, MI_NUM, UI_ID
	</sql>

	<!-- 소모임 리스트 -->
	<select id="selectPartyInfoList" resultType="com.yummyclimbing.vo.party.PartyInfoVO">
		SELECT P_VIEW.PI_NUM, P_VIEW.MNTNM, 
		MEM_NUM, P_VIEW.PI_MEMBER_CNT, 
		COUNT(PUL.UI_NUM) LIKE_NUM
		FROM 
		(SELECT PI.PI_NUM, MI.MNTNM, 
		COUNT(PM.UI_NUM) MEM_NUM, PI.PI_MEMBER_CNT 
		FROM PARTY_INFO PI
		INNER JOIN MOUNTAIN_INFO MI ON PI.MI_NUM = MI.MI_NUM
		INNER JOIN PARTY_MEMBER PM ON PI.PI_NUM = PM.PI_NUM AND PM.PM_ACTIVE = 1
		WHERE PI.PI_ACTIVE = 1 
		GROUP BY PI.PI_NUM) P_VIEW
		INNER JOIN PARTY_USER_LIKE PUL ON P_VIEW.PI_NUM = PUL.PI_NUM
		<where>
			<if test='searchText != null and searchText != ""'>
				AND ${searchType} LIKE CONCAT('%', #{searchText}, '%')
			</if>
		</where>
		GROUP BY PUL.PI_NUM
		ORDER BY LIKE_NUM DESC
	</select>

	<!-- 소모임 보기 -->
	<select id="selectPartyInfo" resultType="com.yummyclimbing.vo.party.PartyInfoVO">
		SELECT UI.UI_NICKNAME
		FROM PARTY_INFO PI
		INNER JOIN USER_INFO UI ON PI.UI_NUM = UI.UI_NUM
		WHERE PI.PI_NUM = #{piNum}
	</select>
	
	<!-- 소모임 멤버 정보 -->
	<select id="selectPartyMemberInfo" resultType="com.yummyclimbing.vo.party.PartyInfoVO">
		SELECT UI.UI_NICKNAME
		FROM PARTY_INFO PI
		INNER JOIN PARTY_MEMBER PM ON PI.PI_NUM = PM.PI_NUM AND PM.PM_ACTIVE = 1
		INNER JOIN USER_INFO UI ON PM.UI_NUM = UI.UI_NUM
		WHERE PI.PI_NUM = #{piNum}
	</select>

	<!-- 방장 여부 조회 -->
	<select id="selectCaptainNum" resultType="com.yummyclimbing.vo.party.PartyInfoVO">
		SELECT UI_NUM
		FROM PARTY_INFO
		WHERE UI_NUM = ${loginUiNum} AND PI_NUM = #{piNum};
	</select>

	<!-- 소모임 생성 -->
	<insert id="insertParty" parameterType="com.yummyclimbing.vo.party.PartyInfoVO">
		INSERT INTO PARTY_INFO
		(
		PI_NAME, PI_MEETING_TIME, PI_MEMBER_CNT, PI_CREDAT,
		PI_EXPDAT, MI_NUM, UI_ID, PI_ACTIVE
		)
		VALUES(
		#{piName}, #{piMeetingTime}, #{piMemberCnt}, #{piCredat}, 
		#{piExpdat}, #{miNum}, #{uiId}, 1
		)
	</insert>
	
	<!-- 소모임 수정 -->
	<update id="updatePartyInfo" parameterType="com.yummyclimbing.vo.party.PartyInfoVO">
		UPDATE PARTY_INFO
		SET 
		PI_NAME = #{piName}, 
		PI_MEETING_TIME = #{piMeetingTime},
		PI_MEMBER_CNT = #{piMemberCnt},
		PI_CREDAT = #{piCredat},
		PI_EXPDAT = #{piExpdat},
		MI_NUM = #{miNum},
		UI_ID = #{uiId}
		WHERE PI_NUM = #{piNum}
	</update>	
		
	<!-- 소모임 삭제(비활성화) -->
	<update id="updatePartyActive">
		UPDATE PARTY_INFO
		SET PI_ACTIVE = 0
		WHERE PI_NUM = #{piNum}
	</update>
	
</mapper>