<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yummyclimbing.mapper.party.PartyInfoMapper">

	<sql id="partyInfoCols">
		MNTNM, PI_NAME, PI_EXPDAT, PI_MEETING_TIME, 
		PI_MEMBER_CNT, PI_PROFILE
	</sql>
	
	<sql id="joinPartyMember">
		INNER JOIN PARTY_MEMBER PM ON PI_ACTIVE = 1 AND PI.PI_NUM = PM.PI_NUM
	</sql>
	
	<sql id="joinPartyUserLike">
		LEFT OUTER JOIN PARTY_LIKE PL ON P_VIEW.PI_NUM = PL.PI_NUM
	</sql>

	<!-- 소소모임 리스트, 정렬, 검색 -->
	<select id="selectPartyInfoList"
		resultType="com.yummyclimbing.vo.party.PartyInfoVO">
		SELECT P_VIEW.PI_NUM, MEM_NUM, COUNT(PL.UI_NUM) LIKE_NUM, PI_CREDAT, PI_COMPLETE,
		<include refid="partyInfoCols"></include>
		FROM
		(SELECT PI.PI_NUM, COUNT(PM.UI_NUM) MEM_NUM, PI_CREDAT, PI_COMPLETE,
		<include refid="partyInfoCols"></include>
		FROM PARTY_INFO PI
		<include refid="joinPartyMember"></include> AND PM_ACTIVE = 1
		WHERE PI_COMPLETE IN(0
		<if test='includeComplete == true'>
			, 1
		</if>
		)
		GROUP BY PI.PI_NUM) P_VIEW
		<include refid="joinPartyUserLike"></include>
		<where>
			<if test='searchType != null and searchType != ""
			and searchText != null and searchText != ""'>
				AND ${searchType} LIKE CONCAT('%', #{searchText}, '%')
			</if>
		</where>
		GROUP BY P_VIEW.PI_NUM
		<choose>
			<when test='sortType != null and sortType != "" and sortOrder != null and sortOrder != ""'>
				ORDER BY ${sortType} ${sortOrder}
			</when>
			<otherwise>
				ORDER BY LIKE_NUM DESC
			</otherwise>
		</choose>
	</select>
	
	<!-- 추천 소모임 리스트 -->
	<select id="selectRecommendedPartyList"
		resultType="com.yummyclimbing.vo.party.PartyInfoVO">
		SELECT DISTINCT P_VIEW.PI_NUM, MEM_NUM, COUNT(PL.UI_NUM) LIKE_NUM, PI_CREDAT, PI_COMPLETE,
		<include refid="partyInfoCols"></include>
		FROM
		(SELECT PI.PI_NUM, COUNT(PM.UI_NUM) MEM_NUM, PI_CREDAT, PI_COMPLETE,
		<include refid="partyInfoCols"></include>
		FROM PARTY_INFO PI
		INNER JOIN RANDOM_RECOMMENDATION RR
		<![CDATA[
		ON RR_CREDAT = DATE_FORMAT(NOW(),'%Y%m%d')
		]]>
		AND RR.PI_NUM = PI.PI_NUM
		<include refid="joinPartyMember"></include>
		GROUP BY PI.PI_NUM) P_VIEW
		<include refid="joinPartyUserLike"></include>
		GROUP BY P_VIEW.PI_NUM
		ORDER BY MNTNM ASC
	</select>

	<!-- 개별 소모임 보기 -->
	<select id="selectPartyInfo"
		resultType="com.yummyclimbing.vo.party.PartyInfoVO">
		SELECT PI.PI_NUM, COUNT(PM.UI_NUM) MEM_NUM, PI_CREDAT, PI_COMPLETE,
		<include refid="partyInfoCols"></include>
		, UI.UI_NICKNAME
		FROM PARTY_INFO PI
		<include refid="joinPartyMember"></include> AND PM_ACTIVE = 1 AND PI.PI_NUM = #{piNum}
		INNER JOIN USER_INFO UI ON UI_ACTIVE = 1 AND PI.UI_NUM = UI.UI_NUM
	</select>

	<!-- 소모임 멤버 정보 -->
	<select id="selectPartyMemberList"
		resultType="com.yummyclimbing.vo.user.UserInfoVO">
		SELECT PM_NUM, UI_IMG_PATH, UI_NICKNAME, UI_AGE, UI_GENDER, PM_GRADE
		FROM PARTY_INFO PI
		<include refid="joinPartyMember"></include> AND PM_ACTIVE = 1 AND PI.PI_NUM = #{piNum}
		INNER JOIN USER_INFO UI ON UI_ACTIVE = 1 AND PM.UI_NUM = UI.UI_NUM
		GROUP BY UI.UI_NUM
		ORDER BY PM_NUM
	</select>
	
	<!-- 차단한 부원 보기 -->
	<select id="selectBlockedPartyMemberList"
		resultType="com.yummyclimbing.vo.user.UserInfoVO">
		SELECT PM_NUM, UI_IMG_PATH, UI_NICKNAME
		FROM PARTY_INFO PI
		<include refid="joinPartyMember"></include> AND PM_ACTIVE = -1 AND PI.PI_NUM = #{piNum}
		INNER JOIN USER_INFO UI ON UI_ACTIVE = 1 AND PM.UI_NUM = UI.UI_NUM
		GROUP BY UI.UI_NUM
		ORDER BY PM_NUM
	</select>

	<!-- 대장 여부 조회 -->
	<select id="selectCaptainNum"
		resultType="com.yummyclimbing.vo.party.PartyInfoVO">
		SELECT UI_NUM
		FROM PARTY_INFO
		WHERE UI_NUM = #{uiNum} AND PI_NUM = #{piNum} AND PI_ACTIVE = 1
	</select>

	<!-- 소모임 생성 -->
	<insert id="insertPartyInfo" useGeneratedKeys="true" keyProperty="piNum" keyColumn="PI_NUM">
		INSERT INTO PARTY_INFO
		(
		<include refid="partyInfoCols"></include>
		, UI_NUM
		)
		VALUES(
		#{mntnm}, #{piName}, #{piExpdat}, #{piMeetingTime},
		#{piMemberCnt}, #{piProfile}, 
		#{uiNum}
		)
	</insert>

	<!-- 소모임 수정 -->
	<update id="updatePartyInfo">
		UPDATE PARTY_INFO
		SET
		PI_NAME = #{piName},
		PI_EXPDAT = #{piExpdat},
		PI_MEETING_TIME = #{piMeetingTime},
		PI_MEMBER_CNT = #{piMemberCnt},
		PI_PROFILE = #{piProfile},
		PI_LMODAT = DATE_FORMAT(NOW(), '%Y%m%d')
		WHERE PI_NUM = #{piNum}
	</update>
	
	<!-- 소모임 부원 탈퇴/차단 -->
	<update id="updatePartyMemberActive">
		UPDATE PARTY_MEMBER PM
		SET PM_ACTIVE = #{pmActive}
		<where>
			<if test='pmNums != null and pmNums.size != 0'>
				<foreach collection="pmNums" item="pmNum" separator="OR">
					PM_NUM = #{pmNum}
				</foreach>
			</if>
		</where>
	</update>

	<!-- 소모임 삭제(비활성화) -->
	<update id="updatePartyActive">
		UPDATE PARTY_INFO
		SET PI_ACTIVE = 0
		WHERE PI_NUM = #{piNum}
	</update>
	
	<!-- 소모임 모집완료 -->
	<update id="updatePartyComplete">
		UPDATE PARTY_INFO
		SET PI_COMPLETE = 1
		WHERE PI_NUM = #{piNum}
	</update>
	
	<!-- 모집기한 만료 소모임 개수 -->
	<select id="selectExpiredParty" resultType="_int">
		SELECT COUNT(1) FROM PARTY_INFO
		WHERE PI_ACTIVE = 1 AND PI_EXPDAT = #{piExpdat}
	</select>
	
	<!-- 모집기한 만료 소모임 자동 완료 -->
	<update id="updatePartyCompleteByExpdat">
		UPDATE PARTY_INFO
		SET PI_COMPLETE = 1
		WHERE PI_ACTIVE = 1 AND PI_EXPDAT = #{piExpdat}
	</update>
	
	<!-- 임의 추천 위해 산 넘버로 소모임 넘버 리스트 셀렉트 -->
	<select id="selectPiNumListByMiNum" resultType="int">
		SELECT PI_NUM
		FROM PARTY_INFO PI
		INNER JOIN MOUNTAIN_INFO MI ON PI_ACTIVE = 1 AND PI_COMPLETE = 0 AND PI.MNTNM = MI.MNTNM
		WHERE MI.MI_NUM = #{miNum}
	</select>

	<!-- 산별 소모임 리스트 출력 -->
	<select id="selectPartyInfoListForMntnm" resultType="com.yummyclimbing.vo.party.PartyInfoVO">
		SELECT
			PI.PI_NUM, PI.MNTNM, PI.PI_NAME, PI.PI_EXPDAT, PI.PI_MEETING_TIME, 
			PI.PI_MEMBER_CNT, PI.PI_PROFILE, PI.PI_CREDAT, COUNT(PM.UI_NUM) MEM_NUM
		FROM
			PARTY_INFO PI
   		INNER JOIN 
   			PARTY_MEMBER PM 
   		ON 
   			PI.PI_ACTIVE=1 AND PM.PM_ACTIVE=1 AND PI.PI_COMPLETE=0 AND PI.PI_NUM = PM.PI_NUM
		WHERE 
			MNTNM = #{mntnm}
		GROUP BY 
			PI.PI_NUM
		ORDER BY
			PI.PI_CREDAT DESC, PI.PI_MEETING_TIME ASC, PI.PI_EXPDAT ASC
	</select>
	
</mapper>