<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yummyclimbing.mapper.mountain.MountainInfoMapper">
	<sql id="mountainInfoCols">
		MNTNCD, MNTNM, MNTHEIGHT, AREANM, 
		AEATREASOM, ETCCOURSE, FLASHURL, OVERVIEW, 
		SUBNM, TOURISMINF, VIDEOURL, MI_CREDAT, 
		MI_LMODAT
	</sql>
	<select id="selectMountainInfoList"
		resultType="com.yummyclimbing.vo.mountain.MountainItemVO">
		SELECT
		MI_NUM,
		<include refid="mountainInfoCols" />
		FROM MOUNTAIN_INFO
	</select>
	<insert id="insertMountainInfoList"	parameterType="com.yummyclimbing.vo.mountain.MountainItemVO">
		INSERT INTO MOUNTAIN_INFO
		(
			<include refid="mountainInfoCols" /> 
		)
		VALUES
		<foreach collection="mountainList" item="mountainInfo" separator=",">
		(
			#{mountainInfo.mntncd}, #{mountainInfo.mntnm}, #{mountainInfo.mntheight}, #{mountainInfo.areanm},
			#{mountainInfo.aeatreason}, #{mountainInfo.etccourse}, #{mountainInfo.flashurl}, #{mountainInfo.overview},
			#{mountainInfo.subnm}, #{mountainInfo.tourisminf}, #{mountainInfo.videourl}, DATE_FORMAT(NOW(),'%Y%m%d'), DATE_FORMAT(NOW(),'%Y%m%d')
		)
		</foreach>
	</insert>
	<delete id="deleteMountainInfoList">
		DELETE FROM MOUNTAIN_INFO
	</delete>
</mapper>