<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yummyclimbing.mapper.user.UserChallengeMapper">

	<sql id="userChallengeCols">
		UC.UC_NUM, UC.UC_CHALLENGE,
		UC.UC_CREDAT, UC.UC_LMODAT
	</sql>

	<!--챌린지 리스트 불러오기-->
	<select id="selectUserChallengeList"
		resultType="com.yummyclimbing.vo.user.UserChallengeVO">
		SELECT
		<include refid="userChallengeCols" />
		, UI.UI_NUM 
		FROM USER_CHALLENGE UC
		INNER JOIN USER_INFO UI ON UC.UI_NUM = UI.UI_NUM
		WHERE UI.UI_NUM = #{uiNum}
	</select>



	<!-- 챌린지 상세보기 -->
	<select id="selectUserChallenge" resultType="com.yummyclimbing.vo.user.UserChallengeVO">
		SELECT
		<include refid="boardInfoCols"></include>
		, UI.UI_NUM
		FROM USER_CHALLENGE UC
		INNER JOIN USER_INFO UI ON UC.UI_NUM = UI.UI_NUM
		WHERE UC.UC_NUM = #{ucNum}
	</select>
	
	
	
	<insert id="insertUserInfo"
		parameterType="com.yummyclimbing.vo.user.UserChallengeVO">

		INSERT INTO USER_INFO(
		UI_ID, UI_PWD, UI_NAME,
		UI_NICKNAME,
		UI_ADDR,
		UI_ZONECODE, UI_AGE, UI_GENDER,
		UI_IMG_PATH,
		UI_CREDAT, UI_ACTIVE
		)
		VALUES(
		#{uiId}, #{uiPwd}, #{uiName},
		#{uiNickname},
		#{uiAddr},
		#{uiZonecode},
		#{uiAge}, #{uiGender},
		#{uiImgPath},DATE_FORMAT(NOW(),'%Y%m%d') ,1
		)
	</insert>

	<!-- 정보수정 -->
	<update id="updateUserInfo">
		UPDATE USER_INFO
		SET UI_NICKNAME=#{uiNickname},
		UI_ADDR=#{uiAddr},
		UI_ZONECODE=#{uiZonecode},
		UI_LMODAT=DATE_FORMAT(NOW(),'%Y%m%d')
		WHERE UI_NUM=#{uiNum}
	</update>

	<!-- 회원탈퇴(비활성화) -->
	<delete id="deleteUserInfo">
		UPDATE USER_INFO
		SET UI_ACTIVE = 0
		WHERE
		UI_NUM=#{uiNum}
	</delete>

</mapper>