<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yummyclimbing.mapper.user.UserPageMapper">

	<!-- 가입한 소모임 -->
	<select id="getMyParty" resultType="com.yummyclimbing.vo.user.UserPageVO">
		SELECT PI.PI_NUM, PM.PM_NUM, PI.PI_NAME, PM.PM_GRADE
		FROM USER_INFO UI 
		INNER JOIN PARTY_MEMBER PM ON UI.UI_NUM = PM.UI_NUM
		INNER JOIN PARTY_INFO PI ON PM.PI_NUM = PI.PI_NUM
		WHERE UI.UI_NUM = #{uiNum}
	</select>
	
	<!-- 내가 쓴 글 -->
	<select id="getMyBoards" resultType="com.yummyclimbing.vo.user.UserPageVO">
	
	</select>

	<!-- 내가 쓴 댓글 -->
	<select id="getMyComments" resultType="com.yummyclimbing.vo.user.UserPageVO">
	
	</select>
	
	
	<!-- 좋아요 보기 -->


</mapper>